.cart-items {
  background: #f6f9fc;
  height: auto;
  padding: 50px 0;
}

.cart-items .cart-details {
  width: 70%;
}

.cart-details{
  margin-left: 20px;
}

.cart-items .cart-total {
  width: 30%;
  margin-top: 30px;
  margin-left: 30px;
  height: 220px;
}
.cart-list {
  background: white;
  margin-top: 30px;
}
.cart-items .img {
  width: 150px;
  height: 150px;
}
.cart-items img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.cart-items .cart-details h3 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
}
.cart-items .cart-details h4 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  color: grey;
}
.cart-items h4 span {
  font-size: 18px;
  color: #e94560;
  margin-left: 20px;
  font-weight: 600;
}
.removeCart {
  background: none;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
}
.cartControl {
  margin-top: 50px;
}
.cartControl button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.incCart {
  background: none;
  border: 1px solid rgb(3 0 71 / 9%);
  color: #e94560;
}
.desCart {
  background: #f6f9fc;
}
.cart-total h4 {
  font-size: 1.1vw;
  font-weight: 400;
}
.cart-total h3 {
  font-size: 1.2vw;
  font-weight: 500;
  color: #726d6e;
}
.cart-total h2 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #e94560;
}
.no-items {
  color: #e94560;
  font-size: 18px;
  margin-top: 30px;
  height: 130px;
}
.cart_total{
  height: 500px;
}
.tot_price{
  margin-top: 12px;
  border-top: 1px solid rgb(203, 198, 198);
  padding-top: 5PX;
}
.tot_price h4 {
  font-size: 1.3vw;
  font-weight: 500;
}
.tot_price h3{
  font-size: 1.4vw;
  font-weight: 500;
  color: rgb(75, 236, 139);
}
.cartControl p{
  font-weight: 400;
  font-size: 1.6vw;
  margin-top: 12px;
  padding: 5px;
}
.item_cursor{
  cursor: pointer;
}
.cart_details{
  background-color:rgb(75, 236, 139)
}