.homeSlide h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 50px 0 20px 0;
}
.homeSlide p {
  margin: 20px 0;
}
.homeSlide ul {
  position: absolute;
  bottom: 20px;
}
.homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}
.homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}
.homeSlide ul li button::before {
  font-size: 15px !important;
  color: #0f3460;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}
/*---------category----------*/
.contentWidth {
  width: 77%;
}

.box_cat{
  display: flex;
  width: 160px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 12px;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
}
.category {
  
  width: 100%;
  height: auto;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
}

.category img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  object-fit: contain;
}

.category span {
  margin: 10px 20px;
  text-transform: capitalize;
  font-size: 13px;
}

.category .box {
  transition: 0.5s;
  padding: 0 20px;
}

.category .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}

.home_Slide{
  width: 100%;
  margin-bottom: 50px;
  padding: 20px;
  border-radius:20px;
}
.home_container{
  width: 90%;
}
.home_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_img{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 80%;
}
.home_img img{
  width: 200px;
  height: 300px;
}
.left_items h1{
  font-size: 50px;
}
.left_items p{
  font-size: 18px;
}
.left_items button{
  margin-top: 18px;
}
/*---------category----------*/
@media screen and (max-width: 480px){
  
}
@media screen and (max-width: 720px){
  
}